---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Introduction from '../components/title'
import VideoIntro from '../components/videointro'
import About from '../components/about'
import Contact from '../components/contact'
import DaProject from '../components/daproject'
import UiSection from '../components/uisection'
import IllustrationSection from '../components/illustrations'
import Branding from '../components/branding'
import Footer from '../components/footer'
import End from '../components/end.jsx';







---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=" bg-primary">
		<main class="h-min-content">
			<Introduction client:load/>
			<VideoIntro client:load/>
			<About  client:load/>
			<Contact client:load/>
			<DaProject client:load/>
			<UiSection client:load/>
			<IllustrationSection client:load/>
			<Branding client:load/>
			<End client:load/>
			<Footer client:load/>

		</main>
	</body>
</html>
