---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Introduction from '../components/title'
import VideoIntro from '../components/videointro'
import About from '../components/about'
import Contact from '../components/contact'
import DaProject from '../components/daproject'
import UiSection from '../components/uisection'
import IllustrationSection from '../components/illustrations'





---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="h-min-content bg-primary">
			<Introduction client:load/>
			<VideoIntro client:load/>
			<About client:load/>
			<Contact client:load/>
			<DaProject client:load/>
			<UiSection client:load/>
			<IllustrationSection client:load/>
		</main>
		<Footer />
	</body>
</html>
