---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Introduction from '../components/title'
import VideoIntro from '../components/videointro'

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="h-[4000px]">
			<Introduction client:load/>
			<VideoIntro client:load/>
			
		</main>
		<Footer />
	</body>
</html>
